body {
    background-color: rgba(227, 215, 238, 0.993);
}
h1,h3 {
    color: rgb(247, 72, 8);
}
img {
    height: 100px;
    width: 100px;
}

p {
    color: crimson;
}
.secondp {
    color: darkolivegreen;
}
#edu {
    color: rgb(28, 22, 31);
}